# Virtual Environment
.venv/
venv/
ENV/

# Python cache & Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Playwright & test output
test-results/
playwright-report/

# OS / Editor temporary files
.DS_Store
Thumbs.db
.vscode/
.idea/
